project:
  type: website
  render:
    - "*.qmd"
    - "!dcr_cv.qmd"

website:
  title: "Damon C. Roberts"
  favicon: assets/favicon_io/favicon-32x32.png
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: cv/dcr_cv.pdf
        text: CV
      - blog/index.qmd
      - href: research/index.qmd
        text: Research
      - text: "Teaching"
        menu:
          - href: https://sp23.psci2075.classes.damoncroberts.com/
            text: PSCI 2075--Quantitative Research Methods (TA), Spring 2023
          - href: https://www.dropbox.com/s/d9b3t7a5gd7xng2/dcr_psci_3075_fall_2022_syllabus.pdf?dl=0
            text: PSCI 3075--Applied Research Methods (Instructor of Record), Fall 2022
          - href: https://www.dropbox.com/s/xq5r22vmazioxmi/su22_psci_2075_syllabus.pdf?dl=0
            text: PSCI 2075--Quantitative Research Methods (Instructor of Record), Summer 2022
          - href: https://www.dropbox.com/s/2jhc8gacfe7cobm/Roberts%20-%20Spring%2C%202020%20PSCI%201101-%20Recitation%20Syllabus.pdf?dl=0
            text: PSCI 1101--Introduction to American Politics (TA), Spring 2020
          - href: https://www.dropbox.com/s/hb4zih5ziza51jf/Fall%2C%202019%20PSCI%201101-%20Reciation%20Syllabus%20111.pdf?dl=0
            text: PSCI 1101--Introduction to American Politics (TA), Fall 2019
      - text: "Software"
        menu:
          - href: https://gencounter.app.damoncroberts.com
            text: genCounter--Webapp
          - href: https://github.com/DamonCharlesRoberts/ScrapeCongress
            text: ScrapeCongress--R Package (R.I.P, Thanks Elon Musk)
      - icon: github
        href: https://github.com/damoncharlesroberts
  page-footer:
    center: |
      <span class="faux-block">{{< fa brands creative-commons >}} 2021-2023 Damon Charles Roberts</span>
      <span class="faux-block"><br>All content licensed under {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-sa >}} [Creative Commons CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/)</span>
  google-analytics: "G-26NTN3W5CD"
format:
  html:
    theme:
      - flatly
      - assets/custom.scss
    code-copy: true
    css: styles.css
    toc: true
    code-overflow: wrap

execute:
  freeze: auto