@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*-- scss:defaults --*/
$body-bg: #282828;
$body-color: #ffffff;
$navbar-bg: #282828;
$navbar-hl: #ffffff;
$navbar-light-bg: #550000;
$navbar-dark-bg: #550000;
$link-color: #ffffff;
$navbar-fg: #ffffff;
$code-color: #550000;
$dropdown-bg: #282828;
$dropdown-link-hover-bg: #550000;
$font-family-sans-serif: 'Open Sans', sans-serif;