@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*-- scss:defaults --*/
$navbar-bg: #ffffff;
$navbar-hl: #550000;
$link-color: #737373;
$navbar-fg: #737373;
$code-color: #550000;
$font-family-sans-serif: 'Open Sans', sans-serif;